.form__input {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 220px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

.form__convert {
    border: 2px solid #ccc;
    background-color: hsl(180, 90%, 20%);
    color: black;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.form__header {
    text-align: center;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: rgb(14, 105, 105);
}

.form__convert:hover {
    background-color: teal;
}

.form__convert:active {
    background-color:  hsl(180, 100%, 40%);
}

.form_fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0px 0px 21px 0px #1ab596;
    font-weight: 700;
}

.form__legend {
    background-color: red;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.form__result {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

.js-form__result {
    font-size: 40px;
}